
* {
    /* Sets box-sizing to ensure padding and border included in the width and height of the page */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* Sets the background color of the body*/
    background-color: #d9dcd6;
}

header {
    /* Sets the padding, font style, text color, and background color of the header*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
   }

header h1 {
    /* Sets the font size of h1 and places it inline with navigation links*/
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    /* Sets the text color of the seo potion of the title Horiseon*/
    color: #d9dcd6;
}


header nav {
    /* Sets the font style and color of the navigation links and places them to the right of the page*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    /* Removes bullets from the list of navigation links*/
    list-style-type: none;
}

header nav ul li {
    /* Places navigation links inline with the header and 25 px from the left of the margin*/
    display: inline-block;
    margin-left: 25px;
}

a {
    /* Removes the underline of the navigation links sets the color of them*/
    color: #ffffff;
    text-decoration: none;
}

p {
    /* Sets the font size of all the paragraphs on the page */
    font-size: 16px;
}

.hero {
    /* Sets the image to display for the figure on top using the link, sets the height and width of the image, sets the 
    bottom margin of the image, adjusts the image size to fit the page and places it in the center*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.search-engine-optimization {
    /* Sets the font style and color of this section, sets the background color of this section, 
    sets the height and padding of this section, and sets this section 20 pixels from the bottom of the section*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    /* Sets the font style and color of this section, sets the background color of this section, 
    sets the height and padding of this section, and sets this section 20 pixels from the bottom of the section*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    /* Sets the font style and color of this section, sets the background color of this section, 
    sets the height and padding of this section, and sets this section 20 pixels from the bottom of the section*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    /* Sets the maximum height of this image of the section to 200 pixels*/
    max-height: 200px;
}

.online-reputation-management img {
    /* Sets the maximum height of this image of the section to 200 pixels*/
    max-height: 200px;
}

.social-media-marketing img {
    /* Sets the maximum height of this image of the section to 200 pixels*/
    max-height: 200px;
}

.search-engine-optimization h2 {
    /* Sets the bottom margin and font size of this header of the section*/
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
     /* Sets the bottom margin and font size of this header of the section*/
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
     /* Sets the bottom margin and font size of this header of the section*/
    margin-bottom: 20px;
    font-size: 36px;
}
.float-left {
    /* Sets the image of this section to the left*/
    float: left;
    margin-right: 25px;
}

.float-right {
    /* Sets the image of this section to the right*/
    float: right;
    margin-left: 25px;
}

.content {
    /* Sets the content of each section next to each other, sets the width in percent of the page, sets it 20 pixels from the left*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    /* Sets the sidebar to the right, sets the font style and background color of the sidebar, 
    sets the padding and dimensions, sets the sidebar next to right and left floating elements, 
    sets the sidebar 20 pixels from the right of the margin */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    /* Sets the text color of the section and places it 32 pixels from the bottom of the section */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    /* Sets the text color of the section and places it 32 pixels from the bottom of the section */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    /* Sets the text color of the section and places it 32 pixels from the bottom of the section */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    /* Places the header of this section in the center and places it 10 pixels from the bottom of the section */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    /* Places the header of this section in the center and places it 10 pixels from the bottom of the section */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    /* Places the header of this section in the center and places it 10 pixels from the bottom of the section */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    /* Places image of this section on top of text and left and right margins calculated based on the section*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
     /* Places image of this section on top of text and left and right margins calculated based on the section*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    /* Places image of this section on top of text and left and right margins calculated based on the section*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    /* Sets the padding and font style of the footer, sets the footer in the center, sets the 
     footer under the right and left floating elements, */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    /* Sets the font size of the header of the footer*/
    font-size: 20px;
}
